body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #3e4444;
}
#navbar {
  overflow: hidden;
  background-color: #3e4444;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #405d27;
  color: white;
}

body, html {
    height: 100%;
}

.header-image {
  background-image: url("file:///Users/lyndseynarvaez/Desktop/code-earth/earth%20header.png");
  height: 81%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.quiz-questions {
  display: flex;
  justify-content: flex-start;
  background-color: #EEF0F2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

button {
 display: block;
 margin: 15px;
 padding: 12px 18px;
 border: 1px solid #4A37E7;
 background: #4A37E7;
 color: #fff;
 font-size: 18px;
 border-radius: 4px;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #82b74b;
    border:4px solid #B7DA93;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}

.shoutout {
  color: #8B9191

}
